/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Header Styles */
header {
    background-color: #ff9800;
    padding: 1rem;
    color: white;
    text-align: center;
}

/* Section Styles */
main section {
    padding: 2rem;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#food-items .dish {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
    text-align: center;
    background: #fff;
}

#food-items .dish img {
    max-width: 100%;
    height: auto;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}